<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="col-md-12">
            <div class="card card-container">
              <form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
              >
              <!--firstName-->
              <div class="form-group">
                <label for="firstName">First name</label>
                <input
                  type="text"
                  class="form-control"
                  name="firstName"
                  [(ngModel)]="form.firstName"
                  required
                  #firstName="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && firstName.invalid">
                  <div *ngIf="firstName.errors.required">First name is required</div>
                </div>
              </div>
              <!--lastName-->
              <div class="form-group">
                <label for="lastName">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  name="lastName"
                  [(ngModel)]="form.lastName"
                  required
                  #lastName="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && lastName.invalid">
                  <div *ngIf="lastName.errors.required">Last name is required</div>
                </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">Edit data</button>
                </div>
                <button id="showBtn" (click)="remove()" routerLink="" class="btn btn-primary">Remove account</button>
          
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                  Edit failed!<br />{{ errorMessage }}
                </div>
              </form>
          
              <div class="alert alert-success" *ngIf="isSuccessful">
                Your data is successfully updated!
              </div>
            </div>
          </div>
    </body>
</html>